@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 26, 26, 26;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

html {
  scroll-behavior: smooth;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer utilities {
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-purple-600;
  }
}

